/*Reset default browser spacing*/
body{
   margin:0
   font-family:Arial, sans-serif;
   background-color:-moz-only-whitespace

}

/*Header*/
header{
     
    background-color:#2c5042;
    color:white;
    padding:20pcx;
    text-align:center;
    
}

img {
  max-width: 100%;
  height: auto;
}



/*Navigation*/
nav{
    background-color:#345e4a;
    padding:10pcx;
    text-align:center;

}


nav a{
     color:white:
     text-decoration:none;
     margin:0  15px;
     font-weight:bold;
}


nav a:hover{
      text-decoration:underline;
}


/*Main content*/
main{
     padding:20px;
}

/*Sections*/
section{
       background-color: white;
       padding:15px;
       margin-bottom:20px;
       border-radius:5px;
}



/*Footer*/
footer{
     background-color:rgb(130, 137, 46)
     color:white;
     text-align:center;
     padding:5px
}

